@page "/CustomTx"
@using AzureTestApp.Services
@inject ExpensesService expService
@inject ProtectedSessionStorage Session

<h3>Dashboard</h3>
<hr/>
<div class="tile-container2">
    <div class="tile2">
<EditForm Model="@formData" FormName="SomeSearchForm" OnValidSubmit="HandleSearch">
<div class="row">
<div class="col-md-4">
    <label>Select Month : </label>
<InputSelect @bind-Value="formData.MonthFilter">
   @foreach(var mon in monthDict)
   {
    <option value="@mon.Key">@mon.Value</option>
   }
    
</InputSelect>
 </div>

 <div class="col-md-4">
            <label>Select Year :</label>
            <InputSelect @bind-Value="formData.YearFilter">
                @foreach (var year in yearsList)
                {
                    <option value="@year">@year</option>
                }
            </InputSelect>
 </div>

 <div class="col-md-4">
     <button type="submit" class="btn btn-primary">Search</button>
 </div>

 </div>

</EditForm>
</div>
</div>

<br/>

<div class="tile-container2">
    <div class="tile2">
        <Transactions expenses="@expenseList" TotalMoneySpent="@TotalMoneySpent" catageoryAmounts="@catAmounts"></Transactions>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public Filter formData { get; set; } = new();

    List<int> yearsList = new List<int>();
    Dictionary<int, string> monthDict = new Dictionary<int, string>(); 
    List<Expenses> expenseList = new List<Expenses>();
    double TotalMoneySpent = 0;
    List<CatageoryAmount> catAmounts = new List<CatageoryAmount>();
    private bool _initialized = false;

    protected async override Task OnInitializedAsync()
    {
        yearsList = expService.GetYears();
        monthDict = expService.GetMonths();

        // var tokenResult = await Session.GetAsync<string>("authToken");
        // var token = tokenResult.Success ? tokenResult.Value : null;

        // expenseList = await expService.GetAllTransactionsByMonth(DateTime.Now.Month, DateTime.Now.Year, token);
        // TotalMoneySpent = await expService.GetTotalByMonth(DateTime.Now.Month, DateTime.Now.Year, token);
        // catAmounts = await expService.GetByCatageory(DateTime.Now.Month, DateTime.Now.Year, token);


    }

    // protected async override Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender && !_initialized)
    //     {
    //         _initialized = true;
    //         var tokenResult = await Session.GetAsync<string>("authToken");
    //         var token = tokenResult.Success ? tokenResult.Value : null;

    //         expenseList = await expService.GetAllTransactionsByMonth(DateTime.Now.Month, DateTime.Now.Year, token);
    //         TotalMoneySpent = await expService.GetTotalByMonth(DateTime.Now.Month, DateTime.Now.Year, token);
    //         catAmounts = await expService.GetByCatageory(DateTime.Now.Month, DateTime.Now.Year, token);
    //         StateHasChanged(); // Refresh UI after async load
    //     }
    // }

    public async Task HandleSearch()
    {
        var tokenResult = await Session.GetAsync<string>("authToken");
        var token = tokenResult.Success ? tokenResult.Value : null;

        var data = formData;
        expenseList = await expService.GetAllTransactionsByMonth(formData.MonthFilter, formData.YearFilter, token);
        TotalMoneySpent = await expService.GetTotalByMonth(formData.MonthFilter, formData.YearFilter, token);
        catAmounts = await expService.GetByCatageory(formData.MonthFilter, formData.YearFilter, token);
    }
}

<style>
    .tile-container2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Three equal columns */
        gap: 10px;
    }

    .tile2 {
        padding: 20px;
        background: #f5f5f5;
        border-radius: 8px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    }
</style>
